---
name: "Release"
on:
  pull_request:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Fail if changelog entry does not exist
        if: startsWith(github.ref, 'refs/tags/')
        run: grep -q "${{ github.ref_name }}" CHANGELOG.md

      - name: Install Lua
        uses: leso-kn/gh-actions-lua@master
        with:
          luaVersion: "5.1"

      - name: Install Luarocks
        uses: hishamhm/gh-actions-luarocks@master

      - name: Install `luarocks-build-treesitter-parser` Package
        run: |
          luarocks --verbose --local --lua-version=5.1 install luarocks-build-treesitter-parser

      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v5
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          dependencies: |
            neotest
            tree-sitter-haskell
          detailed_description: |
            * Supports Cabal projects.
            * Supports Stack projects.
            * Parses Sydtest, Hspec and Tasty filters for the cursor's position using TreeSitter.
            * Parses test results and displays error messages as virtual text.
      - name: GitHub Release
        uses: ncipollo/release-action@v1
        with:
          bodyFile: "CHANGELOG.md"
          allowUpdates: true
